<a href="https://colab.research.google.com/github/ChristopherGepila/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [2]:
if 5>2:
  print('five is greater than 2')

five is greater than 2

Python Comment

In [3]:
#This is a comment
print('Hello World')

Hello World

Python Variable (Case sensitive - Python)

In [9]:
# Single variable with multiple values 
array = [1,2,3,40,50,1100]
print (array)
# multiple values with Single variable
a = b = c = 'Tupe'
print(a)
print(b)
print(c)

[1, 2, 3, 40, 50, 1100]
Tupe
Tupe
Tupe

Casting Python Code

In [10]:
n = int (4)
print (n)

4

Python Type Function

In [11]:
C = 'Tupe'
d = 5.6
print(type(c))
print(type(d))

<class 'str'>
<class 'float'>